body 
{
    text-align: center;
font-family: Arial;
    font-size: 16px;
color: rgb(28, 12, 248);
margin: 0;
padding: 0;

}
#cabecera 
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}
#cabecera #tagline
{
    margin: 1em 0 0 0;
    font-size: 0.8em;
    font-weight: normal;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}
#container h1
{
    font-size: 20px;

}